@model matriz.Core.Application.DTOs.Pizzaria.RefrigeranteDTO

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    IEnumerable<matriz.Core.Application.DTOs.Pizzaria.FotoRefrigeranteDTO> _listaFotoRefrigerante = (IEnumerable<matriz.Core.Application.DTOs.Pizzaria.FotoRefrigeranteDTO>)ViewBag.ListaFotoRefrigerantes;

}

<!-- INÍCIO DO CONTEÚDO -->
<div class="cn-cont col-sm-12 col-md-12 col-lg-10 col-xl-10 col-xxl-10">
    <!-- INÍCIO DO CONTAINER -->
    <div class="container">

        <!-- INÍCIO DOS BREADCRUMBS -->
        <div class="cn-breadcrumbs breadcrumb mb-3">
            <a asp-area="" asp-controller="Refrigerante" asp-action="Index" class="breadcrumb-item">Sistema: Refrigerante</a>
        </div>
        <!-- FIM DO BREADCRUMBS -->

        <h2 class="mb-3">Manutenção/Refrigerante/Cadastro</h2>
        <!-- INÍCIO DA DIV - TABELA -->
        <div class="cn-div-table mb-3">
            <!-- INÍCIO DA TABELA -->
            <!-- FIM DA TABELA -->
        </div>

        <br />
        <form asp-action="Cadastrar"  enctype="multipart/form-data">
            <div class="row container">
                <div class="col-12">
                    <div class="row ">
                        <div class="form-group col-md-2 text-md-start">
                            Código
                        </div>
                        <div class="form-group col-md-10 text-md-start">
                            <input asp-for="RefrigeranteId" class="form-control border border-2 disabled" readonly />
                            <span asp-validation-for="RefrigeranteId" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row ">
                        <div class="form-group col-md-2 text-md-start">
                            Refrigerante
                        </div>
                        <div class="form-group col-md-10 text-md-start">
                            <input asp-for="Nome" class="form-control border border-2 " />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row ">
                        <div class="form-group col-md-2 text-md-start">
                            Descrição
                        </div>
                        <div class="form-group col-md-10 text-md-start">
                            <input asp-for="Descricao" class="form-control border border-2 " />
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>
                    </div>
                    <br/>
                    <hr />
                    <br />
                    <div class="row">
                        <div class="form-group col-md-12 text-lg-center text-sm-center">
                            <button type="submit" class="btn btn-outline-success border-secondary fa fa-save"> Salvar Refrigerante</button>
                        </div>
                    </div>
                </div>
            </div>
        <br />
        <div class="row container">
            <div class="form-group col-md-12 text-lg-start text-sm-start">
                <hr />
                <h2 class="text-center">Imagens Refrigerante</h2>
                <hr />
            </div>
        </div>
        <br />

            <fieldset>
                <div class="row container">
                    <input type="hidden" asp-for="RefrigeranteId" />
                    <div class="form-group col-md-2 text-lg-start text-sm-start">
                        <label for="Image">Carregar Imagem </label>
                    </div>
                    <div class="form-group col-md-7 text-lg-start text-sm-start">
                        <input type="file" class="btn btn-light" name="fotoRefrigerante" id="fotoRefrigerante" />
                    </div>
                    <div class="form-group col-md-3 text-lg-edn text-sm-end">
                        <button asp-area="" asp-controller="Refrigerante" asp-action="SalvarFotoRefrigerante" class="btn btn-outline-success border-secondary fa fa-save">Salvar Foto</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <br />
        <div class="row container">
            <div class="form-group col-md-12">
                <!-- INÍCIO DA TABELA -->
                <table class="table">
                    <!-- INÍCIO DO THEAD -->
                    <thead>
                        <tr>

                            <th style="width:100px;">
                                Id
                            </th>
                            <th style="width:280px;">
                                Refrigerante
                            </th>
                            <th style="width:280px;">
                                Foto
                            </th>
                            <th style="text-align:center">
                            </th>
                        </tr>
                    </thead>
                    <!-- FIM DO THEAD -->
                    <!-- INÍCIO DO TBODY -->
                    <tbody>
                        @foreach (var item in _listaFotoRefrigerante)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FotoRefrigeranteId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RefrigeranteId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Foto)
                                </td>
                                <td>
                                    <a asp-action="ExcluirFotoRefrigerante" asp-route-fotoRefrigeranteId="@item.FotoRefrigeranteId" asp-route-refrigeranteId="@item.RefrigeranteId">
                                        <button class="btn btn-outline-danger border-secondary bi bi-trash Heading"> Excluir Foto</button>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- FIM DA TABELA -->
            </div>
        </div>
    </div>
    <!-- FIM DO CONTAINER -->
</div>
<!-- FIM DO CONTEÚDO -->