@using matriz.Core.Application.DTOs.PontuacaoProfessor;

@{

    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    @*IEnumerable<matriz.Core.Application.DTOs.Pizzaria.FotoPizzaDTO> _listaFotoPizza = (IEnumerable<matriz.Core.Application.DTOs.Pizzaria.FotoPizzaDTO>)ViewBag.ListaFotoPizzas;
    IEnumerable<matriz.Core.Application.DTOs.Pizzaria.IngredienteDTO> _listaIngredientePizza = (IEnumerable<matriz.Core.Application.DTOs.Pizzaria.IngredienteDTO>)ViewBag.ListaIngredientePizzas;
    IEnumerable<matriz.Core.Application.DTOs.Pizzaria.PizzaDetalheDTO> _listaPizzaDetalhes = (IEnumerable<matriz.Core.Application.DTOs.Pizzaria.PizzaDetalheDTO>)ViewBag.ListaPizzaDetalhes;
*@
<!-- INÍCIO DO CONTEÚDO -->
<div class="cn-cont col-sm-12 col-md-12 col-lg-10 col-xl-10 col-xxl-10">
    <!-- INÍCIO DO CONTAINER -->
    <div class="container">

        <!-- INÍCIO DOS BREADCRUMBS -->
        <div class="cn-breadcrumbs breadcrumb mb-3">
            <a asp-area="" asp-controller="Pizza" asp-action="Index" class="breadcrumb-item">Sistema: Pizza</a>
        </div>
        <!-- FIM DO BREADCRUMBS -->

        <h2 class="mb-3">Manutenção/Pizza/Cadastrar</h2>
        <!-- INÍCIO DA DIV - TABELA -->
        <div class="cn-div-table mb-3">
            <!-- INÍCIO DA TABELA -->
            <!-- FIM DA TABELA -->
        </div>

        @*<form asp-action="Cadastrar">
            <div class="row container">
                <br />
                <br />
                <div class="col-12">
                    <div class="row ">
                        <div class="form-group col-md-2 text-md-start">
                            Código
                        </div>
                        <div class="form-group col-md-10 text-md-start">
                            <input asp-for="PizzaId" class="form-control border border-2 disabled" readonly />
                            <span asp-validation-for="PizzaId" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row ">
                        <div class="form-group col-md-2 text-md-start">
                            Pizza
                        </div>
                        <div class="form-group col-md-10 text-md-start">
                            <input asp-for="Nome" class="form-control border border-2 " />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row ">
                        <div class="form-group col-md-2 text-md-start">
                            Descrição
                        </div>
                        <div class="form-group col-md-10 text-md-start">
                            <input asp-for="Descricao" class="form-control border border-2 " />
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group col-md-12 text-lg-center text-sm-center">
                    <button type="submit" class="btn btn-outline-success border-secondary fa fa-save"> Cadastrar Pizza</button>
                </div>
            </div>
        </form>*@
        <br />
        @*<form asp-area="" asp-controller="Pizza" asp-action="AdicionarPizzaDetalhe" enctype="multipart/form-data">
            <div class="row container">
                <br />
                <div class="form-group col-md-12 text-lg-start text-sm-start">
                    <hr />
                    <h4 class="text-center">Detalhe Pizza</h4>
                    <hr />
                    <br />
                </div>
                <div class="row container">
                    <br />
                    <input type="hidden" asp-for="PizzaId" />
                    <div class="form-group col-md-3 text-lg-start text-sm-start">
                        <div class="row container">
                            <div class="form-group col-md-3 text-md-start">
                                Tipo
                            </div>
                            <div class="form-group col-md-9 text-md-start">
                                <select asp-for="TipoId" class="form-control" asp-items="@ViewBag.ListaTipoPizzas">
                                    <option>Escolha o Tipo</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3 text-lg-start text-sm-start">
                        <div class="row container">
                            <div class="form-group col-md-3 text-md-start">
                                Tamanho
                            </div>
                            <div class="form-group col-md-9 text-md-start">
                                <select asp-for="TamanhoId" class="form-control" asp-items="@ViewBag.ListaTamanhoPizzas">
                                    <option>Escolha o Tamanho</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3 text-lg-start text-sm-start">
                        <div class="row container">
                            <div class="form-group col-md-3 text-md-start">
                                Preço
                            </div>
                            <div class="form-group col-md-9 text-md-start">
                                <select asp-for="TabelaPrecoId" class="form-control" asp-items="@ViewBag.ListaTabelaPrecoPizzas">
                                    <option>Escolha o Preço</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3 text-lg-edn text-sm-end">
                        <button type="submit" class="btn btn-outline-success border-secondary fa fa-save">Adicionar</button>
                    </div>
                </div>
                <div class="row container">
                    <div class="form-group col-md-12">
                        <br />
                        <br />

                        <!-- INÍCIO DA TABELA -->
                        <table class="table">
                            <!-- INÍCIO DO THEAD -->
                            <thead>
                                <tr>
                                    <th style="width:100px;">
                                        Código
                                    </th>
                                    <th style="width:256px;">
                                        Preço
                                    </th>
                                    <th style="width:256px;">
                                        Tamanho
                                    </th>
                                    <th style="width:256px;">
                                        Tipo
                                    </th>
                                    <th style="text-align:center">
                                    </th>
                                </tr>
                            </thead>
                            <!-- FIM DO THEAD -->
                            <!-- INÍCIO DO TBODY -->
                            <tbody>
                                @foreach (var item in _listaPizzaDetalhes)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PizzaDetalheId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.precoDP)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.tamanhoDP)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.tipoDP)
                                        </td>
                                        <td>
                                            <a asp-action="ExcluirPizzaDetalhe" asp-route-pizzaId="@item.PizzaId" asp-route-pizzaDetalheId="@item.PizzaDetalheId">
                                                <button class="btn btn-outline-danger border-secondary bi bi-trash Heading"> Excluir</button>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- FIM DA TABELA -->
                    </div>
                </div>
            </div>

        </form>*@


        <div class="row container">
            <div class="form-group col-md-12 text-lg-start text-sm-start">
                <hr />
                <h2 class="text-center">Imagens Pizza</h2>
                <hr />
            </div>
        </div>
        <br />
        @*<form asp-area="" asp-controller="Pizza" asp-action="SalvarFotoPizza" enctype="multipart/form-data">
            <fieldset>
                <div class="row container">
                    <input type="hidden" asp-for="PizzaId" />
                    <div class="form-group col-md-2 text-lg-start text-sm-start">
                        <label for="Image">Carregar Imagem </label>
                    </div>
                    <div class="form-group col-md-7 text-lg-start text-sm-start">
                        <input type="file" class="btn btn-light" name="fotoPizza" id="fotoPizza" />
                    </div>
                    <div class="form-group col-md-3 text-lg-edn text-sm-end">
                        <button type="submit" class="btn btn-outline-success border-secondary fa fa-save">Adicionar</button>
                    </div>
                </div>
            </fieldset>
        </form>*@
        <br />
        <div class="row container">
            <div class="form-group col-md-12">
                <!-- INÍCIO DA TABELA -->
                <table class="table">
                    <!-- INÍCIO DO THEAD -->
                    <thead>
                        <tr>

                            <th style="width:100px;">
                                Id
                            </th>
                            <th style="width:856px;">
                                Foto
                            </th>
                            <th style="text-align:center">
                            </th>
                        </tr>
                    </thead>
                    <!-- FIM DO THEAD -->
                    <!-- INÍCIO DO TBODY -->
                    @*<tbody>
                        @foreach (var item in _listaFotoPizza)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.FotoPizzaId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Foto)
                                </td>
                                <td>
                                    <a asp-action="ExcluirFotoPizza" asp-route-fotoPizzaId="@item.FotoPizzaId" asp-route-pizzaId="@item.PizzaId">
                                        <button class="btn btn-outline-danger border-secondary bi bi-trash Heading"> Excluir</button>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>*@
                </table>
                <!-- FIM DA TABELA -->
            </div>
        </div>
        <br />
        <div class="row container">
            <div class="form-group col-md-12 text-lg-start text-sm-start">
                <hr />
                <h2 class="text-center">Ingredientes</h2>
                <hr />
            </div>
            <div class="form-group col-md-12 text-lg-start text-sm-start">
                @*<form asp-area="" asp-controller="Pizza" asp-action="AdicionarIngrediente" enctype="multipart/form-data">
                    <fieldset>
                        <div class="row container">
                            <input type="hidden" asp-for="PizzaId" />
                            <div class="form-group col-md-2 text-lg-start text-sm-start">
                                Ingrediente
                            </div>
                            <div class="form-group col-md-7 text-lg-start text-sm-start">
                                <select asp-for="IngredienteId" class="form-control" asp-items="@ViewBag.ListaIngrediente">
                                    <option>Escolha o Ingrediente</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3 text-lg-edn text-sm-end">
                                <button type="submit" class="btn btn-outline-success border-secondary fa fa-save">Adicionar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>*@
            </div>
        </div>
        <br />
        <br />
        <div class="row container">
            <div class="form-group col-md-12">
                <!-- INÍCIO DA TABELA -->
                <table class="table">
                    <!-- INÍCIO DO THEAD -->
                    <thead>
                        <tr>

                            <th style="width:100px;">
                                Id
                            </th>
                            <th style="width:856px;">
                                Ingrediente
                            </th>
                            <th style="text-align:center">
                            </th>
                        </tr>
                    </thead>
                    <!-- FIM DO THEAD -->
                    <!-- INÍCIO DO TBODY -->
                    @*<tbody>
                        @foreach (var item in _listaIngredientePizza)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.IngredienteId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    <a asp-action="ExcluirPizzaIngrediente" asp-route-ingredienteId="@item.IngredienteId" asp-route-pizzaId="@Model.PizzaId">
                                        <button class="btn btn-outline-danger border-secondary bi bi-trash Heading"> Excluir</button>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>*@
                </table>
                <!-- FIM DA TABELA -->
            </div>
        </div>

    </div>
    <!-- FIM DO CONTAINER -->
</div>
<!-- FIM DO CONTEÚDO -->